@media (min-width: 768px) {
  .container-desktop {
    max-width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@import "tailwindcss";
:root {
  --font-family: "Raleway", sans-serif;
  --second-family: "Manrope", sans-serif;
  --third-family: "Sansation", sans-serif;
  --font3: "Inter", sans-serif;
  --font4: "Montserrat", sans-serif;
  --main-text: #fff;
}
@layer base {
  body {
    @apply min-h-screen bg-[#0c0117] text-neutral-900 antialiased font-sans;
    background-image: url("/MainMobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--main-text);
    font-family: var(--font-family), sans-serif;
  }
  h1 {
    @apply text-2xl font-bold leading-tight mb-4;
  }
  h2 {
    @apply text-xl font-semibold leading-snug mb-3;
  }
  h3 {
    @apply text-lg font-medium leading-snug mb-2;
  }
}

@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(
      135deg,
      #604b82 0%,
      #0e0917 25%,
      #110621 50%,
      #140c36 75%,
      #80a3e8 100%
    );
  }
  .bg-modal-lg {
    background-color: #0c0117;
  }
  .section-border {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(
        to right,
        #5bdbfd 0%,
        #7375ff 40.3%,
        #df93ff 79.87%,
        #e56f8c 100%
      )
      1;
  }
  .uicard-default-bg {
    background: linear-gradient(50deg, #1a3862 5%, #0b041a 50%, #320e50 100%);
  }
  .uicard-default-shadow {
    box-shadow: inset 4px 6px 10px 4px rgba(167, 93, 243, 0.2);
  }
  .uicard-white {
    background: #ffffff;
    box-shadow: inset 4px 6px 10px 4px rgba(167, 93, 243, 0.2);
  }
  .uicard-gradient-bg {
    box-shadow: inset 4px 6px 10px 4px rgba(167, 93, 243, 0.2);
  }
  .bg-modal-lg {
    background-color: #0c0117;
    box-shadow: inset 4px 6px 10px 4px rgba(167, 93, 243, 0.2);
  }
  .container-mobile {
    @apply max-w-[430px] mx-auto px-[40px];
    .font-family {
      font-family: var(--font-family), sans-serif;
    }
    .third-family {
      font-family: var(--third-family), sans-serif;
    }
  }

  .gradient-text {
    background: linear-gradient(
      170deg,
      #5bdbfd 0%,
      #7375ff 40.3%,
      #df93ff 79.87%,
      #e56f8c 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  @media (max-width: 768px) {
    .bottom-line {
      visibility: hidden;
    }
    .bottom-line-left {
      visibility: hidden;
    }
  }
  .bottom-line {
    right: -60px;
    bottom: 30px;
    width: 320px;
    height: 65px;
    background: linear-gradient(90deg, #5bdbfd 0%, #7375ff 50%, #e56f8c 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 0.05em;
    border-radius: 16px;
    box-shadow: 0 4px 24px 0 rgba(91, 219, 253, 0.15);
    transform: rotate(325deg);
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    user-select: none;
  }

  .bottom-line-left {
    position: absolute;
    left: -110px;
    bottom: 90px;
    width: 550px;
    height: 45px;
    background: linear-gradient(270deg, #5bdbfd 0%, #7375ff 50%, #e56f8c 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 0.05em;
    border-radius: 16px;
    box-shadow: 0 4px 24px 0 rgba(91, 219, 253, 0.15);
    transform: rotate(-315deg);
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    user-select: none;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
  }
  .inputs {
    border-radius: 14px;
    width: 310px;
    height: 46px;
    box-shadow: 0 10px 78px 1px rgba(121, 121, 121, 0.12);
    background: #fff;
  }
}
select option {
  background: #22223b;
  color: #fff;
}
