@import "tailwindcss";
:root {
  --font-family: "Raleway", sans-serif;
  --second-family: "Manrope", sans-serif;
  --third-family: "Sansation", sans-serif;
  --font3: "Inter", sans-serif;
  --font4: "Montserrat", sans-serif;
  --main-text: #fff;
}
@layer base {
  body {
    @apply min-h-screen bg-[#0c0117] text-neutral-900 antialiased font-sans;
    background-image: url("/MainMobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--main-text);
    font-family: var(--font-family), sans-serif;
  }
  h1 {
    @apply text-2xl font-bold leading-tight mb-4;
  }
  h2 {
    @apply text-xl font-semibold leading-snug mb-3;
  }
  h3 {
    @apply text-lg font-medium leading-snug mb-2;
  }
}

@layer utilities {
  .container-mobile {
    @apply max-w-[430px] mx-auto px-[40px];
    .font-family {
      font-family: var(--font-family), sans-serif;
    }
    .third-family {
      font-family: var(--third-family), sans-serif;
    }
  }

  .gradient-text {
    background: linear-gradient(
      170deg,
      #5bdbfd 0%,
      #7375ff 40.3%,
      #df93ff 79.87%,
      #e56f8c 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}
select option {
  background: #22223b;
  color: #fff;
}
